In [1]:
import os
import pandas as pd

In [2]:
os.chdir("..")

In [3]:
from recoexplainer.config import cfg
from recoexplainer.data_reader.data_reader import DataReader

In [4]:
data = DataReader(cfg.testdata)

In [5]:
data.dataset

    userId  itemId  rating  timestamp
0        0       1       1          1
1        0       2       1          2
2        0       3       1          3
3        0       4       1          4
4        0       5       1          5
..     ...     ...     ...        ...
71       3       3       1         21
72       3       4       1         22
73       4      31       1         11
74       4      32       1         12
75       4      30       1         13

[76 rows x 4 columns]