In [142]:
import numpy as np
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [143]:
books = pd.read_csv('datasets/books-crossing/BX-Books.csv', sep=';', encoding='latin-1',  error_bad_lines=False)
users = pd.read_csv('datasets/books-crossing/BX-Users.csv', sep=';', encoding="latin-1", error_bad_lines=False)
ratings = pd.read_csv('datasets/books-crossing/BX-Book-Ratings.csv', sep=';', encoding="latin-1", error_bad_lines=False)

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/Users/mac/opt/anaconda3/envs/recoxplainer/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [144]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [145]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [146]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]
books.rename(columns = {'Book-Title':'title', 'Book-Author':'author', 'Year-Of-Publication':'year', 'Publisher':'publisher'}, inplace=True)
users.rename(columns = {'User-ID':'user_id', 'Location':'location', 'Age':'age'}, inplace=True)
ratings.rename(columns = {'User-ID':'user_id', 'Book-Rating':'rating'}, inplace=True)

/Users/mac/opt/anaconda3/envs/recoxplainer/lib/python3.6/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [147]:
x = ratings['user_id'].value_counts() > 200
y = x[x].index  #user_ids
print(y.shape)
ratings = ratings[ratings['user_id'].isin(y)]

(899,)

In [148]:
rating_with_books = ratings.merge(books, on='ISBN')
rating_with_books

,user_id,ISBN,rating,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
...,...,...,...,...,...,...,...
487666,275970,1892145022,0,Here Is New York,E. B. White,1999,Little Bookroom
487667,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA)
487668,275970,3411086211,10,Die Biene.,Sybil GrÃƒ?Ã‚Â¤fin SchÃƒ?Ã‚Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim"
487669,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann
487670,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN)

In [149]:
number_rating = rating_with_books.groupby('title')['rating'].count().reset_index()
number_rating.rename(columns= {'rating':'number_of_ratings'}, inplace=True)
final_rating = rating_with_books.merge(number_rating, on='title')
final_rating.shape
final_rating = final_rating[final_rating['number_of_ratings'] >= 50]
final_rating.drop_duplicates(['user_id','title'], inplace=True)

In [150]:
final_rating

,user_id,ISBN,rating,title,author,year,publisher,number_of_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
...,...,...,...,...,...,...,...,...
236701,255489,0553579983,7,And Then You Die,Iris Johansen,1998,Bantam,50
236702,256407,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
236703,257204,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
236704,261829,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
236705,273979,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50

In [151]:
book_pivot = final_rating.pivot_table(columns='user_id', index='title', values="rating")
book_pivot.fillna(0, inplace=True)

In [152]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [153]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot)

In [154]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [155]:
distances, recommendationsop = model.kneighbors(book_pivot.iloc[237, :].values.reshape(1, -1))

In [156]:
recommendationsop

array([[237, 240, 238, 241, 184]])

In [162]:
book_pivot.index[recommendationsop[0][2]]

'Harry Potter and the Goblet of Fire (Book 4)'

In [164]:
recommendations_df = pd.DataFrame(book_pivot.index[recommendationsop[0]])

In [165]:
recommendations_df

                                               title
0   Harry Potter and the Chamber of Secrets (Book 2)
1  Harry Potter and the Prisoner of Azkaban (Book 3)
2       Harry Potter and the Goblet of Fire (Book 4)
3     Harry Potter and the Sorcerer's Stone (Book 1)
4                                          Exclusive

In [166]:
book_pivot.query('index == "New Perspectives: Runes"')

Empty DataFrame
Columns: [254, 2276, 2766, 2977, 3363, 3757, 4017, 4385, 6242, 6251, 6323, 6543, 6563, 6575, 7158, 7286, 7346, 7915, 8067, 8245, 8681, 8936, 9856, 10447, 10819, 11601, 11676, 11993, 12538, 12824, 12982, 13082, 13273, 13552, 13850, 14422, 14521, 15408, 15418, 15957, 16106, 16634, 16795, 16916, 16966, 17950, 18067, 18401, 19085, 19664, 20115, 20201, 21014, 21252, 21576, 21659, 22625, 23288, 23768, 23872, 23902, 24194, 24921, 25409, 25601, 25981, 26516, 26535, 26544, 26583, 26593, 27617, 27647, 28204, 28360, 28523, 28591, 28634, 29259, 29855, 30276, 30487, 30509, 30511, 30533, 30711, 30735, 30972, 31315, 31391, 31556, 31826, 31846, 32195, 32440, 32721, 32773, 33974, 35050, 35433, ...]
Index: []

[0 rows x 888 columns]

In [167]:
name = "You Belong To Me"
df = book_pivot.loc[book_pivot.index == name]
df

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [168]:
books

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [169]:
books.insert(0, 'book_id', range(1, 1 + len(books)))
books

,book_id,ISBN,title,author,year,publisher
0,1,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,3,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,4,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,5,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...,...,...
271355,271356,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,271357,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,271358,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,271359,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,271360,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [170]:
ratings = ratings.merge(books, on='ISBN')
ratings

,user_id,ISBN,rating,book_id,title,author,year,publisher
0,277427,002542730X,10,3740,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,3740,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,3740,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10,3740,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0,3740,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
...,...,...,...,...,...,...,...,...
487666,275970,1892145022,0,53963,Here Is New York,E. B. White,1999,Little Bookroom
487667,275970,1931868123,0,54636,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA)
487668,275970,3411086211,10,54128,Die Biene.,Sybil GrÃƒ?Ã‚Â¤fin SchÃƒ?Ã‚Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim"
487669,275970,3829021860,0,53958,The Penis Book,Joseph Cohen,1999,Konemann
487670,275970,4770019572,0,54719,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN)

In [171]:
ratings = ratings.drop('author', 1).drop('year', 1).drop('publisher', 1)

In [172]:
ratings

,user_id,ISBN,rating,book_id,title
0,277427,002542730X,10,3740,Politically Correct Bedtime Stories: Modern Ta...
1,3363,002542730X,0,3740,Politically Correct Bedtime Stories: Modern Ta...
2,11676,002542730X,6,3740,Politically Correct Bedtime Stories: Modern Ta...
3,12538,002542730X,10,3740,Politically Correct Bedtime Stories: Modern Ta...
4,13552,002542730X,0,3740,Politically Correct Bedtime Stories: Modern Ta...
...,...,...,...,...,...
487666,275970,1892145022,0,53963,Here Is New York
487667,275970,1931868123,0,54636,There's a Porcupine in My Outhouse: Misadventu...
487668,275970,3411086211,10,54128,Die Biene.
487669,275970,3829021860,0,53958,The Penis Book
487670,275970,4770019572,0,54719,Musashi

In [173]:
usersList = ratings.groupby(by='user_id')
users_with_ratings = ratings['user_id'].unique()

In [174]:
#for loop to fill moviesUsedForRecommendations with the movie that will be used for each user to recommend with
booksUsedForRecommendations = []
users_ids = []

for x in range(0, 899):
#    print('x value')
#    print(x)
    allUserRatings = usersList.get_group(users_with_ratings[x])
    allUserRatings = allUserRatings.sort_values(['rating'], ascending=[False])
    book_ids_df = pd.DataFrame(allUserRatings.book_id)
    book_ids_array = np.asarray(book_ids_df)
#    print(book_ids_array)
    
    for y in range(len(book_ids_array)):
#        print('Y value')
#        print(y)
        name_of_id = books.loc[books['book_id'] == book_ids_array[y][0]]
        name_string = name_of_id['title'].item()
        if not (book_pivot.loc[book_pivot.index == name_string]).empty:
#            print('enter if')
            itemUsedForRecommendation = name_string
            users_ids.append(users_with_ratings[x])
            booksUsedForRecommendations.append(itemUsedForRecommendation)
            break

In [175]:
booksUsedForRecommendations

['Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
 "Where the Heart Is (Oprah's Book Club (Paperback))",
 'Macgregor Brides (Macgregors)',
 'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
 'The Witching Hour (Lives of the Mayfair Witches)',
 'Range of Motion',
 "Bridget Jones's Diary",
 'High Five (A Stephanie Plum Novel)',
 'Cold Mountain : A Novel',
 'The Pillars of the Earth',
 'Fahrenheit 451',
 'Timeline',
 'Skeleton Crew',
 'The Secret Garden',
 'E Is for Evidence: A Kinsey Millhone Mystery (Kinsey Millhone Mysteries (Paperback))',
 'Bag of Bones',
 'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
 'Wuthering Heights',
 'A Fine Balance',
 'Year of Wonders',
 'Midnight in the Garden of Good and Evil: A Savannah Story',
 'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
 'Digital Fortress : A Thriller',
 'The Golden Compass (His Dark Materials, Book 1)',
 'Matilda',
 'Life of Pi',
 'Harry Potter and the Goblet of Fire (Book 4)',
 'The Cider House Rules',
 'Lord of the Flies',
 "The Lost Boy: A Foster Child's Search for the Love of a Family",
 'The Rescue',
 'In Her Shoes : A Novel',
 'Fast Food Nation: The Dark Side of the All-American Meal',
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
 'Different Seasons',
 'The Testament',
 'A Wrinkle in Time',
 'A Wrinkle in Time',
 'The Bean Trees',
 'American Gods',
 'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
 "Bridget Jones's Diary",
 'Coming Home',
 'Thinner',
 'Homecoming',
 'The Little Prince',
 'Lucky Man: A Memoir',
 'Like Water for Chocolate: A Novel in Monthly Installments, With Recipes, Romances, and Home Remedies',
 'The Secret Life of Bees',
 "Bridget Jones's Diary",
 'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
 'Good Omens',
 'Harry Potter and the Order of the Phoenix (Book 5)',
 'Five Quarters of the Orange',
 'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
 'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
 'Harry Potter and the Order of the Phoenix (Book 5)',
 'Echoes',
 'Fahrenheit 451',
 "Ender's Game (Ender Wiggins Saga (Paperback))",
 "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
 'Chocolat',
 'The Drawing of the Three (The Dark Tower, Book 2)',
 'The Eight',
 'Lord of the Flies',
 'High Fidelity',
 'FORREST GUMP (Movie Tie in)',
 'Insomnia',
 "Jewel (Oprah's Book Club)",
 'Beach Music',
 'One for the Money (Stephanie Plum Novels (Paperback))',
 'The Bourne Ultimatum',
 'Neuromancer (Remembering Tomorrow)',
 'One Door Away from Heaven',
 'The Little Prince',
 'Watership Down',
 'Anne Frank: The Diary of a Young Girl',
 'The Catcher in the Rye',
 'Holes (Yearling Newbery)',
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
 'Kaleidoscope',
 'Artemis Fowl (Artemis Fowl, Book 1)',
 'The Two Towers (The Lord of the Rings, Part 2)',
 'It Was on Fire When I Lay Down on It',
 'The Amber Spyglass (His Dark Materials, Book 3)',
 'Harry Potter and the Order of the Phoenix (Book 5)',
 'Dragonfly in Amber',
 'Good in Bed',
 'Sacred Sins',
 'The Return of the King (The Lord of the Rings, Part 3)',
 'The Red Tent (Bestselling Backlist)',
 'Now You See Her',
 'Heartbreaker',
 'Two for the Dough',
 'Jewels of the Sun (Irish Trilogy)',
 'Heartbreaker',
 'Harry Potter and the Order of the Phoenix (Book 5)',
 "Ender's Game (Ender Wiggins Saga (Paperback))",
 'The Color Purple',
 'The Rescue',
 'Bastard Out of Carolina',
 'A Man Named Dave: A Story of Triumph and Forgiveness',
 'Heartbreaker',
 'Holes (Yearling Newbery)',
 '2nd Chance',
 'Midwives: A Novel',
 "The Book of Ruth (Oprah's Book Club (Paperback))",
 'I Know This Much Is True',
 'Night Whispers',
 'Divine Secrets of the Ya-Ya Sisterhood: A Novel',
 "It's Always Something",
 'Mirror Image',
 'The Cider House Rules',
 'Timeline',
 'Welcome to the World, Baby Girl!',
 'Harry Potter and the Chamber of Secrets (Book 2)',
 'Watchers',
 "What to Expect When You're Expecting (Revised Edition)",
 'Animal Farm',
 'Birthright',
 'Stupid White Men ...and Other Sorry Excuses for the State of the Nation!',
 'STONES FROM THE RIVER',
 'Key of Valor (Roberts, Nora. Key Trilogy, 3.)',
 'Night Sins',
 'Fahrenheit 451',
 'Midwives: A Novel',
 "Suzanne's Diary for Nicholas",
 'Wicked: The Life and Times of the Wicked Witch of the West',
 'The Perfect Storm : A True Story of Men Against the Sea',
 "Fortune's Rocks: A Novel",
 'The Firm',
 'The Two Towers (The Lord of the Rings, Part 2)',
 "ANGELA'S ASHES",
 'What Looks Like Crazy On An Ordinary Day',
 'Welcome to Temptation',
 'The Prince of Tides',
 'Watership Down',
 'Midwives: A Novel',
 'The Horse Whisperer',
 'The Thorn Birds',
 "A Virtuous Woman (Oprah's Book Club (Paperback))",
 'The Alchemist: A Fable About Following Your Dream',
 'How to Be Good',
 'Eyes of Prey',
 '84 Charing Cross Road',
 'The Joy Luck Club',
 "Bridget Jones's Diary",
 'The Tao of Pooh',
 'Bridge to Terabithia',
 'Little Altars Everywhere: A Novel',
 'Secret History',
 'The Deep End of the Ocean',
 'Middlesex: A Novel',
 "Full House (Janet Evanovich's Full Series)",
 'Anne Frank: The Diary of a Young Girl',
 'The Other Boleyn Girl',
 "Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death",
 "She's Come Undone (Oprah's Book Club)",
 'Insomnia',
 'Neverwhere',
 'A Wrinkle In Time',
 'Pride and Prejudice',
 'Oryx and Crake',
 'The Vampire Lestat (Vampire Chronicles, Book II)',
 'The Bad Beginning (A Series of Unfortunate Events, Book 1)',
 'L Is for Lawless',
 'The English Patient',
 'The Valley of Horses',
 'The Amber Spyglass (His Dark Materials, Book 3)',
 'The Nanny Diaries: A Novel',
 'The Subtle Knife (His Dark Materials, Book 2)',
 'The English Patient',
 "The Pilot's Wife : A Novel",
 'Good in Bed',
 "The Hitchhiker's Guide to the Galaxy",
 'Shell Seekers',
 'The Boy Next Door',
 'The Poisonwood Bible: A Novel',
 'Dust to Dust',
 'I Know Why the Caged Bird Sings',
 'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
 'Voyager',
 'The Thorn Birds',
 "The Handmaid's Tale",
 'The Red Tent (Bestselling Backlist)',
 'Harry Potter and the Prisoner of Azkaban (Book 3)',
 'Skipping Christmas',
 'The Little Prince',
 'Red Dragon',
 'Girl with a Pearl Earring',
 'The Poisonwood Bible: A Novel',
 'Bastard Out of Carolina',
 'The Prince of Tides',
 "The Handmaid's Tale",
 'Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 'Tis: A Memoir',
 'To Kill a Mockingbird',
 'The Green Mile',
 'Life of Pi',
 'The Shining',
 'Summer Sisters',
 'The Poisonwood Bible: A Novel',
 "Charlotte's Web (Trophy Newbery)",
 "ANGELA'S ASHES",
 'The Loop',
 'Dawn (Cutler)',
 "Bridget Jones's Diary",
 'Seabiscuit: An American Legend',
 'Into the Wild',
 'Dragonfly in Amber',
 'L Is for Lawless',
 'The Hot Zone',
 "Where the Heart Is (Oprah's Book Club (Paperback))",
 'To Kill a Mockingbird',
 'The Red Tent (Bestselling Backlist)',
 'Blue Diary',
 'Intensity',
 'Skipping Christmas',
 'The Little Prince',
 "Where the Heart Is (Oprah's Book Club (Paperback))",
 "Big Cherry Holler: A Big Stone Gap Novel (Ballantine Reader's Circle)",
 'The Poisonwood Bible: A Novel',
 'Where the Red Fern Grows',
 'Key of Light (Key Trilogy (Paperback))',
 'Presumed Innocent',
 "Angela's Ashes: A Memoir",
 "Angela's Ashes: A Memoir",
 'The Other Boleyn Girl',
 'Insomnia',
 'The Poisonwood Bible: A Novel',
 'Lake Wobegon days',
 "Bridget Jones's Diary",
 'Anne of the Island',
 'Cold Sassy Tree',
 'Dreamcatcher',
 "I Know This Much Is True (Oprah's Book Club)",
 'Good in Bed',
 'Watership Down',
 'If Only It Were True',
 'Tell No One',
 'The Color Purple',
 'Fall On Your Knees (Oprah #45)',
 'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
 'The Celestine Prophecy (Celestine Prophecy)',
 'The Bridges of Madison County',
 'A Heartbreaking Work of Staggering Genius',
 'Into Thin Air : A Personal Account of the Mt. Everest Disaster',
 'Colony',
 'Fried Green Tomatoes at the Whistle Stop Cafe',
 'Peace Like a River',
 'Dangerous',
 'A Wrinkle In Time',
 'The Rainmaker',
 'The Amber Spyglass (His Dark Materials, Book 3)',
 "Foucault's Pendulum",
 'Timeline',
 "Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson",
 'The Reader',
 'Circle of Friends',
 'Seabiscuit',
 'The Secret Life of Bees',
 "Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))",
 'Bel Canto: A Novel',
 "Where the Heart Is (Oprah's Book Club (Paperback))",
 'The Bad Beginning (A Series of Unfortunate Events, Book 1)',
 'Mind Prey',
 "A Thousand Acres (Ballantine Reader's Circle)",
 'Empire Falls',
 'Alaska',
 'The Last Precinct',
 'The Subtle Knife (His Dark Materials, Book 2)',
 'How to Be Good',
 'Under the Tuscan Sun',
 'Bel Canto: A Novel',
 "The Pilot's Wife : A Novel",
 'Peace Like a River',
 'A Prayer for Owen Meany',
 'Ellen Foster',
 'The Thorn Birds',
 'STONES FROM THE RIVER',
 'The Five People You Meet in Heaven',
 'The Secret Life of Bees',
 'Deception Point',
 "The Sweet Potato Queens' Book of Love",
 'The Stone Diaries',
 'Slammerkin',
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
 'Outlander',
 "ANGELA'S ASHES",
 'A Man in Full',
 "Where the Heart Is (Oprah's Book Club (Paperback))",
 'Bel Canto: A Novel',
 "Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death",
 'Bel Canto: A Novel',
 'Watership Down',
 'Lucky Man: A Memoir',
 'Fingersmith',
 'Lucky : A Memoir',
 'The Secret Garden',
 'Harry Potter and the Chamber of Secrets (Book 2)',
 'Bel Canto: A Novel',
 'Bel Canto: A Novel',
 "The No. 1 Ladies' Detective Agency (Today Show Book Club #8)",
 "The Color of Water: A Black Man's Tribute to His White Mother",
 'Carrie',
 'Sudden Prey',
 'Second Nature',
 'The Notebook',
 'Sea Swept (Quinn Brothers (Paperback))',
 'Interview with the Vampire',
 'Silence of the Lambs',
 'Watership Down',
 'Tis : A Memoir',
 'Four Past Midnight',
 'Roses Are Red (Alex Cross Novels)',
 'One for the Money (Stephanie Plum Novels (Paperback))',
 'Jurassic Park',
 'Girl with a Pearl Earring',
 "The Pilot's Wife : A Novel",
 'The Shining',
 'Bastard Out of Carolina',
 'Two for the Dough',
 'American Gods',
 'Easy Prey',
 'How Stella Got Her Groove Back',
 'Morality for Beautiful Girls (No.1 Ladies Detective Agency)',
 "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
 'Harry Potter and the Chamber of Secrets (Book 2)',
 'Miss Julia Speaks Her Mind : A Novel',
 'A Time to Kill',
 "She's Come Undone (Oprah's Book Club (Paperback))",
 'Life of Pi',
 'The Honk and Holler Opening Soon',
 'Tears of the Moon (Irish Trilogy)',
 'The Empty Chair',
 'One for the Money (A Stephanie Plum Novel)',
 'One for the Money (Stephanie Plum Novels (Paperback))',
 'Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 'The Stone Diaries',
 'Killjoy',
 'Seabiscuit: An American Legend',
 'Good Omens',
 'Two for the Dough',
 'Neuromancer (Remembering Tomorrow)',
 'One for the Money (Stephanie Plum Novels (Paperback))',
 'If Tomorrow Comes',
 'Dance upon the Air (Three Sisters Island Trilogy)',
 'Practical Magic',
 '1984',
 'The Mummy or Ramses the Damned',
 'Strangers',
 'One for the Money (Stephanie Plum Novels (Paperback))',
 'Deja Dead',
 'Interview with the Vampire',
 'The Golden Compass (His Dark Materials, Book 1)',
 'A Time to Kill',
 'The Alchemist: A Fable About Following Your Dream',
 'Harry Potter and the Prisoner of Azkaban (Book 3)',
 'One for the Money (Stephanie Plum Novels (Paperback))',
 'Vector',
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
 'Insomnia',
 'The Secret Life of Bees',
 'Crazy for You',
 'Beloved',
 'Balzac and the Little Chinese Seamstress : A Novel',
 'Good in Bed',
 'Cruel &amp; Unusual (Kay Scarpetta Mysteries (Paperback))',
 'The Pillars of the Earth',
 'Wizard and Glass (The Dark Tower, Book 4)',
 'Rebecca',
 "She's Come Undone (Oprah's Book Club)",
 'Girl with a Pearl Earring',
 '84 Charing Cross Road',
 'Outlander',
 'Stillwatch',
 "Ender's Game (Ender Wiggins Saga (Paperback))",
 "Big Stone Gap: A Novel (Ballantine Reader's Circle)",
 'Tough Cookie',
 'Drums of Autumn',
 'The Secret Garden',
 'Anne of the Island',
 'Me Talk Pretty One Day',
 'Dragon Tears',
 'Rainbow Six',
 'WLD ACCORDNG GARP',
 'The Secret Garden',
 'One True Thing',
 'The Secret Garden',
 'The Eyre Affair: A Novel',
 'Fahrenheit 451',
 'The Mummy or Ramses the Damned',
 'The Cider House Rules',
 'The Tao of Pooh',
 'The Green Mile',
 'The Talisman',
 'The Color Purple',
 'The Angel of Darkness',
 'Insomnia',
 'The Tao of Pooh',
 '1st to Die: A Novel',
 'Seabiscuit: An American Legend',
 'The Dogs of Babel (Today Show Book Club #12)',
 'The Tao of Pooh',
 'The Tao of Pooh',
 "Tom Clancy's Op-Center (Tom Clancy's Op Center (Paperback))",
 'The Red Tent (Bestselling Backlist)',
 'The Alchemist: A Fable About Following Your Dream',
 'Jurassic Park',
 'Plainsong (Vintage Contemporaries)',
 'Love in the Time of Cholera (Penguin Great Books of the 20th Century)',
 "She's Come Undone (Oprah's Book Club)",
 'Snow Falling on Cedars',
 'The Bourne Identity',
 "Fortune's Rocks : A Novel",
 'Sisterhood of the Traveling Pants',
 'Anne of Avonlea (Anne of Green Gables Novels (Paperback))',
 'The Little Prince',
 'I Capture the Castle',
 'Girl in Hyacinth Blue',
 "Big Stone Gap: A Novel (Ballantine Reader's Circle)",
 'Midwives: A Novel',
 'House of Sand and Fog',
 'The Hundred Secret Senses',
 'Pride and Prejudice',
 'The Wedding',
 '84 Charing Cross Road',
 'The Mists of Avalon',
 'Pride and Prejudice',
 'Along Came a Spider (Alex Cross Novels)',
 'Harry Potter and the Prisoner of Azkaban (Book 3)',
 'The Joy Luck Club',
 'To Kill a Mockingbird',
 "Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson",
 'Seabiscuit: An American Legend',
 'The Nanny Diaries: A Novel',
 'Interview with the Vampire',
 'Coraline',
 'Angels &amp; Demons',
 'The Firm',
 'The Beach House',
 'Fingersmith',
 'Evening Class',
 'Dreamcatcher',
 "Lamb : The Gospel According to Biff, Christ's Childhood Pal",
 'Lucky : A Memoir',
 'High Fidelity',
 'Pride and Prejudice',
 'Possession : A Romance',
 'The Bad Beginning (A Series of Unfortunate Events, Book 1)',
 'The Secret Life of Bees',
 'A Wrinkle in Time',
 'The Secret Life of Bees',
 'Dying for Chocolate (Culinary Mysteries (Paperback))',
 'Dragonfly in Amber',
 'The Hundred Secret Senses',
 'Coraline',
 'Shopaholic Takes Manhattan (Summer Display Opportunity)',
 'Midnight in the Garden of Good and Evil',
 "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
 "The Bonesetter's Daughter",
 'Kiss the Girls',
 'Mortal Fear',
 'Mind Prey',
 'Coming Home',
 'The Secret Life of Bees',
 'The Eight',
 'Harry Potter and the Goblet of Fire (Book 4)',
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
 'The Secret Life of Bees',
 'A Time to Kill',
 'Brave New World',
 'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
 'Dreamcatcher',
 'Plum Island',
 'A Wrinkle in Time',
 'The Secret Life of Bees',
 'The Secret Life of Bees',
 'Lucky : A Memoir',
 "Don't Sweat the Small Stuff and It's All Small Stuff : Simple Ways to Keep the Little Things from Taking Over Your Life (Don't Sweat the Small Stuff Series)",
 '1984',
 'Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 'The Dead Zone',
 'The Alchemist: A Fable About Following Your Dream',
 'Fahrenheit 451',
 "Ender's Game (Ender Wiggins Saga (Paperback))",
 "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
 'M Is for Malice',
 'Key of Valor (Roberts, Nora. Key Trilogy, 3.)',
 'Atonement : A Novel',
 'Midnight in the Garden of Good and Evil: A Savannah Story',
 'The Hunt for Red October',
 'A Child Called \\It\\": One Child\'s Courage to Survive"',
 'Certain Prey',
 "What to Expect When You're Expecting (Revised Edition)",
 'Journey',
 'The Two Towers (The Lord of the Rings, Part 2)',
 'Lucky Man: A Memoir',
 'To Kill a Mockingbird',
 'The Joy Luck Club',
 'Face the Fire (Three Sisters Island Trilogy)',
 'Good in Bed',
 'Christine',
 '1st to Die: A Novel',
 'The English Patient',
 'Dreamcatcher',
 'Seven Up (A Stephanie Plum Novel)',
 'Harry Potter and the Prisoner of Azkaban (Book 3)',
 'Midwives: A Novel',
 'The Notebook',
 'One for the Money (A Stephanie Plum Novel)',
 'Three To Get Deadly : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 "Lamb : The Gospel According to Biff, Christ's Childhood Pal",
 'The Thorn Birds',
 'Three To Get Deadly : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 'Interview with the Vampire',
 'Irish Hearts',
 'Fall On Your Knees (Oprah #45)',
 "Ender's Game (Ender Wiggins Saga (Paperback))",
 'Neverwhere',
 'The Lost World',
 "Harry Potter and the Sorcerer's Stone (Book 1)",
 'Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)',
 'The Promise',
 'Empire Falls',
 "Full Tilt (Janet Evanovich's Full Series)",
 'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
 'Miss Julia Speaks Her Mind : A Novel',
 'Hearts In Atlantis',
 'The Lost World',
 "Sophie's World: A Novel About the History of Philosophy",
 'Circle of Friends',
 'The Guardian',
 'The Da Vinci Code',
 'Seabiscuit: An American Legend',
 'Dances With Wolves',
 'All the Pretty Horses (The Border Trilogy, Vol 1)',
 "Dude, Where's My Country?",
 'Dead Run',
 'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
 "The Sweet Potato Queens' Book of Love",
 'Animal Farm',
 "Bridget Jones's Diary",
 'The Pillars of the Earth',
 "Suzanne's Diary for Nicholas",
 "Full House (Janet Evanovich's Full Series)",
 'Outlander',
 'Notes from a Small Island',
 'The Alchemist: A Fable About Following Your Dream',
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
 'A Wrinkle in Time',
 "Gerald's Game",
 "Lamb : The Gospel According to Biff, Christ's Childhood Pal",
 'The Celestine Prophecy (Celestine Prophecy)',
 "Charlotte's Web (Trophy Newbery)",
 'Outlander',
 'The Bad Beginning (A Series of Unfortunate Events, Book 1)',
 'Tribulation Force: The Continuing Drama of Those Left Behind (Left Behind No. 2)',
 'The Firm',
 'Timeline',
 'The Hobbit : The Enchanting Prelude to The Lord of the Rings',
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
 'Pet Sematary',
 'Cujo',
 "White Oleander : A Novel (Oprah's Book Club)",
 'GARDEN OF SHADOWS (Dollanger Saga (Paperback))',
 'The Notebook',
 'When the Wind Blows',
 '84 Charing Cross Road',
 'Fahrenheit 451',
 'Mystic River',
 'Dreamcatcher',
 'Message in a Bottle',
 'Interview with the Vampire',
 'The Color Purple',
 'Ladder of Years',
 "ANGELA'S ASHES",
 'To Kill a Mockingbird',
 'At Home in Mitford (The Mitford Years)',
 'Jemima J: A Novel About Ugly Ducklings and Swans',
 'The Body Farm',
 'Snow Falling on Cedars',
 'Love in the Time of Cholera (Penguin Great Books of the 20th Century)',
 'White Oleander : A Novel',
 'White Oleander : A Novel',
 'White Oleander : A Novel',
 'The Catcher in the Rye',
 'White Oleander : A Novel',
 'Jurassic Park',
 'Oryx and Crake',
 'The Catcher in the Rye',
 'The Jester',
 'Two for the Dough',
 'Angels &amp; Demons',
 'The Hours : A Novel',
 'G Is for Gumshoe (Kinsey Millhone Mysteries (Paperback))',
 'Divine Secrets of the Ya-Ya Sisterhood: A Novel',
 'The Lovely Bones: A Novel',
 'The Red Tent (Bestselling Backlist)',
 'Sanctuary',
 'Rebecca',
 'Prodigal Summer',
 'Cold Mountain : A Novel',
 'Carnal Innocence',
 'The Joy Luck Club',
 'The Rescue',
 'The Lovely Bones: A Novel',
 'Christine',
 "Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson",
 "She's Come Undone (Oprah's Book Club)",
 'The Lovely Bones: A Novel',
 'The Lovely Bones: A Novel',
 'Me Talk Pretty One Day',
 '84 Charing Cross Road',
 'The Red Tent (Bestselling Backlist)',
 'The Lovely Bones: A Novel',

In [176]:
#loop on moviesUsedForRecommendations and recommend for each user 10 movies & explain
ids = []
recommendations = []
book_names = []
for x in range (len(booksUsedForRecommendations)):
#    print(x)
    userId = x
#    bookId = int(booksUsedForRecommendations[x].book_id)
#    print(movieId)
    bookName = booksUsedForRecommendations[x]
#    print(bookName)
#    print(bookName[0])
#    print(book_pivot.loc[book_pivot.index == bookName[0]])
#    df = book_pivot.loc[book_pivot.index == bookName[0]] 
#    print(book_pivot.loc[book_pivot.index == bookName[0]])
#    if not book_pivot.loc[book_pivot.index == bookName[0]].empty:        
    distances, suggestions = model.kneighbors(book_pivot.loc[book_pivot.index == bookName].values.reshape(1, -1))
#    print(result)
    recommendations_df = pd.DataFrame(suggestions)
#    print(recommendations_df)
    recommendations_array = np.asarray(recommendations_df)
#    print(recommendations_array)
    for i in range (len(recommendations_array)):
        for j in range (len(recommendations_array[i])):
            ids.append(users_ids[x])
            recommendations.append(recommendations_array[i][j])
allUsersRecommendations_df = pd.DataFrame(list(zip(ids, recommendations)),
            columns =['userId', 'book_id'])

In [177]:
allUsersRecommendations_df

      userId  book_id
0     277427      396
1     277427      184
2     277427      308
3     277427      372
4     277427      536
...      ...      ...
4435  133567      103
4436  133567      632
4437  133567       65
4438  133567      540
4439  133567      184

[4440 rows x 2 columns]

In [178]:
books[books['book_id']==396]['title'].item()

'New Perspectives: Runes'

# Explanation

In [179]:
#Computing Assosciation Rules
rules = None
item_sets = [
        [item for item in ratings[ratings.user_id == user].book_id]
        for user in ratings.user_id.unique()
    ]

te = TransactionEncoder()
te_ary = te.fit(item_sets).transform(item_sets)

df = pd.DataFrame(te_ary, columns=te.columns_)

frequent_itemsets = apriori(df,
                            min_support=.1,
                            use_colnames=True,
                            max_len=2)

rules = association_rules(frequent_itemsets,
                            metric="lift",
                            min_threshold=.1)
rules = rules[(rules['confidence'] > .1) &
               (rules['lift'] > .1)]

rules.consequents = [list(row.consequents)[0] for _, row in rules.iterrows()]
rules.antecedents = [list(row.antecedents)[0] for _, row in rules.iterrows()]

rules = rules[["consequents", "antecedents", "confidence"]]

In [181]:
usersListAR = ratings.groupby(by='user_id')
pointerAR = 0
explanationsAR = []
for x in range (0,888):
    user_ratingsAR = usersListAR.get_group(users_ids[x]).book_id.values #give it userID
    counterAR = 0
    while counterAR < 5:
        idAR = recommendations[pointerAR]
#        print(idAR)
#        recommendedBookAR = books.loc[books.title == titleAR]
#        print(recommendedBookAR)
#        rec_Origin_id = int(recommendedMovie.origin_iid)
#        rec_item_idAR = recommendedBookAR.book_id
#        print(rec_item_idAR)
        ARs = rules[rules.consequents == idAR]
        #print(ARs)
        explanationAR =  ARs[ARs.antecedents.isin(user_ratingsAR)]
        #print(explanationAR)
        explanationsAR.append({x for x in explanationAR.antecedents})
        pointerAR = pointerAR + 1
        counterAR = counterAR + 1
allUsersRecommendations_df['explanations'] = explanationsAR

In [182]:
allUsersRecommendations_df

      userId  book_id explanations
0     277427      396           {}
1     277427      184           {}
2     277427      308           {}
3     277427      372           {}
4     277427      536           {}
...      ...      ...          ...
4435  133567      103           {}
4436  133567      632           {}
4437  133567       65           {}
4438  133567      540           {}
4439  133567      184           {}

[4440 rows x 3 columns]

In [183]:
expl = allUsersRecommendations_df[[len(x) > 0 for x in allUsersRecommendations_df.explanations]]
fidelity = expl.groupby('userId')['book_id'].count() / 5
modelFidelity = sum(fidelity)/888

In [184]:
modelFidelity

0.0009009009009009009

https://www.analyticsvidhya.com/blog/2021/06/build-book-recommendation-system-unsupervised-learning-project/

In [ ]:
pointerKNN = 0
explanationsKNN = []
for x in range (0,888):
    user_ratingsKNN = usersList.get_group(users_ids[x]).book_id.values #give it userID
    counterKNN = 0
    while counterKNN < 10:
        recBookIdKNN = recommendations[pointerKNN]
        recBookTitleKNN = books[books['book_id']==recBookIdKNN]['title'].item()
        if not (book_pivot.loc[book_pivot.index == recBookTitleKNN]).empty:
            distancesKNN, sim_itemsKNN = model.kneighbors(book_pivot.loc[book_pivot.index == recBookTitleKNN].values.reshape(1, -1))
            explanationKNN =  set(sim_itemsKNN[0]) & set(user_ratingsKNN)
            explanationsKNN.append(explanationKNN)
            pointer = pointer + 1
            counter = counter + 1
        else:
            explanationKNN = {}
            explanationsKNN.append(explanationKNN)
allUsersRecommendations_df['explanations'] = explanations

In [140]:
user_ratingsKNNTest = usersList.get_group(277427).book_id.values #give it userID
recBookIdKNNTest = recommendations[2000]
print(recBookIdKNNTest)
recBookTitleKNNTest = books[books['book_id']==275]['title'].item()
print(recBookTitleKNNTest)
distancesTest, sim_itemsKNNTest = model.kneighbors(book_pivot.iloc[237, :].values.reshape(1, -1))
#sim_itemsKNNTest
#sim_itemsKNNTest[0]
explanationKNNTest =  set(sim_itemsKNNTest[0]) & set(user_ratingsKNNTest)
explanationKNNTest

1
The Golden Compass (His Dark Materials, Book 1)

set()